<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isiyi.share.mapper.DbTestMapper">


    <select id="selectExpectedCount" resultType="java.lang.Integer">
            SELECT count(*) FROM db_test WHERE f1 = #{f1}
    </select>
    <select id="selectCorrectCount" resultType="java.lang.Integer">
        SELECT count(*) FROM db_test WHERE f1 = #{f1}
    </select>
    <select id="selectWrongCount" resultType="java.lang.Integer">
        SELECT count(*) FROM db_test WHERE f1 = ${f1}
    </select>


</mapper>
